$voucher-colors: (
  "general-vouchers": #6c5ce7,
  "monetary-gift-vouchers": #00cec9,
  "wellness-lifestyle-vouchers": #fdcb6e,
  "unknown-category": #d63031
);

.vouchers-container {
  // max-width: 800px;
  // margin: auto;
  padding: 20px;
  background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  select,
  input,
  textarea {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }

  textarea {
    resize: none;
    height: 80px;
  }

  .assign-btn {
    background: #ff7675;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #d63031;
      transform: scale(1.05);
    }
  }
}

.vouchers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;

  .voucher-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: all 0.3s ease;
    position: relative;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    h4 {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      margin: 5px 0;
    }
    strong{
      font-size: 14px;
      color: #333;
    }

    .description {
      color: #555;
      max-height: 80px; // Limits how tall the description box gets
      overflow-y: auto; // Enables scrolling when needed
      padding-right: 8px; // Space for scrollbar
      font-size: medium;

      /* Custom Scrollbar */
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    }
  }

  @each $key, $color in $voucher-colors {
    .#{$key} {
      border-left: 5px solid $color;
    }
  }
}


@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
}
