.Notification {
    .notification-header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 50rem;
        width: 30rem;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        font-size: 25px;
        color: #333;
        width: 95%;
    }
    .notification-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        max-width: 50rem;
        width: 30rem;
        border-bottom: 1px solid #ddd;
        font-size: 25px;
        color: #333;
        width: 90%;
        gap: 5px;
        flex-wrap: wrap;
        .notification-card{
            background: linear-gradient(145deg, #ffffff, #f8f8f8);
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            .notifications-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
            }
            .notification-message{
                font-size: 16px;
                color: #666;
            }
        }
        .no-notification {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            color: #999;
            font-size: 1rem;
            font-weight: 500;
          }
          
    }
}